/* inter font for logo text */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* railway font for other text */

/* .raleway-font> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
} */

/*nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
    
}
/* for common button */
.btn{
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    
}
 .btn:hover {
      background-color: #364046;
      transform: scale(1.05);
    }
/* style for banner */
.banner-content{
    margin-top: 150px;
     text-align: center;
     margin-bottom: 50px;
}

.massage{
    font-size: 50px;
}
/* for full header */
.header{
    background-image: url(Assets/Hero-bg.png);
    height: 600px;
   margin-top: 0%;

}

/* see it in action */
.see{
    display: flex;
    justify-content: space-between;
    margin: 200px 140px;
}
.section-title{
    font-size: 42px;

}
.section-msg{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
.webflow{
    border-radius: 45px;
    height: 403px;
    width: 328;

}
.para{
    padding-right: 210px;
}

/* Joined Thousands of Productive Users */
.user{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px; 
    margin: 140px;
    padding: 50px;
    text-align: center;
}

.user-title{
    font-size: 38px;
    font-weight: bold;
}

/* for items */
.about-items{
    display: flex;
    justify-content:space-around;

    
}

.item-title{
color: rgba(78, 71, 255, 1);
font-weight: bold;
font-size: 80px;
margin-bottom: 1px;

}

.item-des{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1px;
    
}

/* What our users say */
.say-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    
}
.person-name{
    color: #757575;
    margin-bottom: 1px;

    
}
.person-date{
    color: #B3B3B3;
    margin-top: 1px;

}
.person{
   border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: 17px;

  
}
.say-container{
    display: flex;
      
      justify-content: space-around;
      margin: 0 151px;
      gap: 30px;

}
.container{
    box-shadow: 0px 7px 50px 0px rgba(179, 179, 179, 1);
    border-radius: 10px;
    padding: 30px;

}
.container-title{
    font-size: 30px;
    margin-bottom:0% ;
}
.container-massage{
    font-size: 25px;
    padding-right: 30px;
}
.fname-date{
    display: flex;
    gap: 10px;
    
}


 /* Ready to focus better */
.ready{
     background-color: #f3f1f1;
     text-align: center;
     border-radius: 20px;
     margin: 151px;
     height: 650px;
     padding: 50px;
 
}

 .ready-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    
 }

 .ready-msg{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 20px;

 }
 .ready-img{
    border-radius: 48px;
    margin-top: 20px;
 }








/* Let’s Get in Touch */
.info{
    display: flex;
    justify-content: space-between;
    gap: 100px;
  padding: 50px 150px;
  height: 700px;

}


 .info-head{
    font-weight: bold;
    font-size: 97px;
    margin: 80px 0px;
    width: 500px;
 

 }

 .info-form{
    width: 50%;
    height: 200px;

 }
 .butt{
    margin-top: 10px;
    width: 540px;
 }

    input[type="text"],input[type="email"] , textarea{
    height: 70px;
    max-width: 497px;
    width: 497px;
    background-color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

 }
/* full page color */
.color{
    background-color: rgba(245, 248, 255, 1);

}



/* for footer */
.foot-head{
    font-size: 100px;
    
}
.foot-message{
    color: rgba(137, 135, 161, 1);
}
.foot-item{
    display: flex;
   
    justify-content: space-between;
    
    color: rgba(137, 135, 161, 1);
    padding: 10px 50px;
}
.footer{
    text-align: center;
    padding: 0px 490px;
    height: 428px;
}
.foot-foot{
    
}
.footer-logo{
    margin: 104px 0px 20px 0px;
}